.cbtrkr_single_content .cbtrkr_wrap_listing > div {
    max-width: 100%;
}
.cbtrkr_listing_right {
    .cbtrkr_listing_description {
        word-break: break-all;
    }
}
.cbtrkr_wrap_listing .cbtrkr_listing {
    max-width: 100%;
}